<div class="col-lg-6 mx-auto mt-5" data-controller="login">
  <div class="card shadow">
    <h2 class="card-header text-cwn">Log in</h2>
    <div class="card-body">
      <div id="new_user" data-login-target="emailPasswordField">
        <%= render 'users/shared/email_password_login_form' %>
      </div>
      <div class="row">
        <!-- Add phone number login option -->
        <div id="phone_number_login" style="display: none;" data-login-target="phoneNumberLogin">
          <%= form_for(resource, as: resource_name, url: login_with_phone_number_path, method: :post, id: 'phone-number-login-form') do |f| %>
            <%= hidden_field_tag :phone_number, params[:phone_number] %>
            <%= label_tag :phone_number, "Phone Number" %><br />
            <%= text_field_tag :phone_number, nil, class: "form-control mt-2 mb-2" %><br />
            <%= submit_tag "Send OTP", class: "btn btn-primary mt-1 mb-1" %>
          <% end %>
        </div>
        <a href="#" id="phone-number-login" data-action="click->login#toggleLogin" data-login-target="phoneNumberLoginButton" class="btn btn-primary">Login with phone number</a>
      </div>
    </div>
  </div>
</div>
