<%= form_with(model: [:admin, @vehicle]) do |form| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>
      <ul>
        <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :registration_number %>
    <%= form.text_field :registration_number, class: "form-control mt-2 mb-2", placeholder: "Enter Registration Number" %>
  </div>

  <div class="form-group">
    <%= form.label :owner_id %>
    <%= form.select :owner_id, options_for_select(Owner.all.pluck(:name, :id), prompt: "Select Owner"), { }, { class: "form-select mt-2 mb-2" } %>
  </div>

  <div class="form-group">
    <%= form.label :vehicle_type_id %>
    <%= form.select :vehicle_type_id, options_for_select(VehicleType.all.pluck(:name, :id), prompt: "Select Vehicle Type"), { }, { class: "form-select mt-2 mb-2" } %>
  </div>

  <div class="form-group">
    <%= form.label :base_price %>
    <%= form.number_field :base_price, class: "form-control mt-2 mb-2", placeholder: "Enter Base Price" %>
  </div>

  <div class="form-group">
    <%= form.label :price_per_km %>
    <%= form.number_field :price_per_km, class: "form-control mt-2 mb-2", placeholder: "Enter Price per Km" %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control mt-2 mb-2", placeholder: "Enter Vehicle Name" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control mt-2 mb-2", placeholder: "Enter Vehicle description" %>
  </div>

  <div class="form-group">
    <%= form.label :fule_type %>
    <%= form.select :fule_type, %w(Petrol Diesel CNG Electric), {prompt: "Select Fuel Type"}, {class: "form-select mt-2 mb-2"} %>
  </div>

  <div class="form-group">
    <%= form.label :cover_image %>
    <%= form.file_field :cover_image, class: "form-control mt-2 mb-2" %>
  </div>
  <% if @vehicle.vehicle_images.attached? %>
    <div class="mt-4 mb-4">
      <p class="mb-0">Existing Vehicle Images:</p>
      <% @vehicle.vehicle_images.each do |image| %>
        <span class="badge bg-secondary"><%= image.filename %></span>
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :vehicle_images %>
    <%= form.file_field :vehicle_images, multiple: true, class: "form-control mt-2 mb-2" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary mt-1 mb-1" %>
    <%= link_to 'Back', admin_vehicles_path, class: 'btn btn-warning mt-1 mb-1' %>
  </div>
<% end %>
