<div class="container my-5" data-controller="glightbox">
  <div class="row mb-4">
    <div class="col-lg-6">
      <h1 class="display-4"><%= @vehicle.name %></h1>
    </div>
    <div class="col-lg-6 text-end">
      <h3 class="text-muted"><%= number_to_currency @vehicle.base_price %></h3>
    </div>
  </div>

  <% if @vehicle.cover_image.attached? %>
    <div class="cover-image-section mb-4">
      <%= image_tag @vehicle.cover_image, class: 'cover-img w-100 rounded' %>
    </div>
  <% else %>
    <div class="cover-image-section mb-4">
      <%= image_tag 'sedan01.jpeg', class: "cover-img w-100 rounded h-100" %>
    </div>
  <% end %>


  <% if @vehicle.vehicle_images.attached? %>
    <div id="vehicleCarousel" class="carousel slide mt-5 mb-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @vehicle.vehicle_images.each_slice(3).with_index do |images, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <div class="row gallery">
              <% images.each do |image| %>
                <div class="col">
                  <%= link_to image_tag(image, class: "d-block rounded w-100 vehicle-gallery-images"), image, data: { lightbox: "vehicle-gallery" } %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#vehicleCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#vehicleCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-9">
      <% if @vehicle.description.present? %>
        <div class="description mb-4">
          <h4 class="fw-bold">Description</h4>
          <p><%= simple_format(@vehicle.description) %></p>
        </div>
      <% end %>

      <div class="car-overview bg-light p-4 rounded mb-4">
        <h3 class="fw-bold">Car Overview</h3>
        <p><i class="bi bi-fuel-pump fs-3 me-2"></i><%= @vehicle.fuel_type %></p>
        <p><i class="bi bi-calendar fs-3 me-2"></i><%= @vehicle.registration_number %></p>
        <p><i class="bi bi-car-front-fill fs-3 me-2"></i><%= @vehicle.vehicle_type.try(:name) %></p>
        <p><i class="bi bi-currency-dollar fs-3 me-2"></i><%= number_to_currency @vehicle.base_price %></p>
        <p><i class="bi bi-speedometer2 fs-3 me-2"></i><%= number_with_precision @vehicle.price_per_km, precision: 2 %></p>
      </div>
    </div>

    <div class="col-lg-3">
      <% if @vehicle.owner.present? %>
        <div class="owner-info bg-light p-4 rounded mb-4">
          <h3 class="fw-bold">Owner Info</h3>
          <p><i class="bi bi-person fs-3 me-2"></i><%= @vehicle.owner.try(:name) %></p>
          <p><i class="bi bi-telephone fs-3 me-2"></i><%= @vehicle.owner.try(:phone_number) %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 text-center">
      <%= link_to 'Edit', edit_admin_vehicle_path(@vehicle), class: 'btn btn-primary mx-2' %>
      <%= link_to 'Back', admin_vehicles_path, class: 'btn btn-secondary mx-2' %>
      <%= link_to 'Delete', admin_vehicle_path(@vehicle), data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger mx-2' %>
    </div>
  </div>
</div>
