<%= form_with(model: [:owners, @vehicle]) do |form| %>
  <% if @vehicle.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h4>
      <ul>
        <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <%= form.text_field :registration_number, class: "form-control", placeholder: "Enter Registration Number" %>
    <%= form.label :registration_number %>
  </div>

  <%= form.hidden_field :owner_id, value: current_user.id %>

  <div class="form-floating mb-3">
    <%= form.select :vehicle_type_id, options_for_select(VehicleType.all.pluck(:name, :id), prompt: "Select Vehicle Type"), {}, { class: "form-select", placeholder: "Select Vehicle Type" } %>
    <%= form.label :vehicle_type_id %>
  </div>

  <div class="form-floating mb-3">
    <%= form.number_field :base_price, class: "form-control", placeholder: "Enter Base Price" %>
    <%= form.label :base_price %>
  </div>

  <div class="form-floating mb-3">
    <%= form.number_field :price_per_km, class: "form-control", placeholder: "Enter Price per Km" %>
    <%= form.label :price_per_km %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :name, class: "form-control", placeholder: "Enter Vehicle Name" %>
    <%= form.label :name %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_area :description, class: "form-control", placeholder: "Enter Vehicle description" %>
    <%= form.label :description %>
  </div>

  <div class="form-floating mb-3">
    <%= form.select :fuel_type, %w(Petrol Diesel CNG Electric), { prompt: "Select Fuel Type" }, { class: "form-select", placeholder: "Select Fuel Type" } %>
    <%= form.label :fuel_type %>
  </div>

  <div class="mb-3">
    <%= form.label :cover_image, class: "form-label" %>
    <%= form.file_field :cover_image, class: "form-control" %>
  </div>

  <% if @vehicle.vehicle_images.attached? %>
    <div class="mt-4 mb-4">
      <p class="mb-0">Existing Vehicle Images:</p>
      <% @vehicle.vehicle_images.each do |image| %>
        <span class="badge bg-secondary"><%= image.filename %></span>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :vehicle_images, class: "form-label" %>
    <%= form.file_field :vehicle_images, multiple: true, class: "form-control" %>
  </div>

  <hr>

  <h3>Documents Upload</h3>

  <div class="mb-3">
    <%= form.label :registration_certificate, class: "form-label" %>
    <%= form.file_field :documents, multiple: true, name: 'vehicle[documents][]', class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :insurance_document, class: "form-label" %>
    <%= form.file_field :documents, multiple: true, name: 'vehicle[documents][]', class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :puc_certificate, class: "form-label" %>
    <%= form.file_field :documents, multiple: true, name: 'vehicle[documents][]', class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Back', owners_dashboard_path, class: 'btn btn-warning' %>
  </div>
<% end %>
