<h1 class="fw-bold mt-2 mb-3">Explore All Vehicles</h1>

<div class="row row-cols-1 g-4">
  <% if @vehicles.present? %>
    <% @vehicles.each do |vehicle| %>
      <div class="col">
        <div class="card shadow h-100">
          <div class="row g-0">
            <div class="col-md-4">
              <% if vehicle.vehicle_images.attached? %>
                <%= link_to owners_vehicle_path(vehicle), class: "text-decoration-none text-dark" do %>
                  <%= image_tag url_for(vehicle.vehicle_images.last), class: "w-100 img-fluid rounded-start", alt: vehicle.name %>
                <% end %>
              <% else %>
                <%= link_to owners_vehicle_path(vehicle), class: "text-decoration-none text-dark" do %>
                  <%= image_tag "sedan01.jpeg", class: "w-100 img-fluid rounded-start", alt: vehicle.name %>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= vehicle.name %></h5>
                <p class="card-text"><i class="bi bi-fuel-pump fs-5"></i> <%= vehicle.fuel_type %></p>
                <p class="card-text"><i class="bi bi-speedometer2 fs-5"></i> <%= vehicle.price_per_km %></p>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="card-text fw-bold">$ <%= vehicle.base_price %></p>
                  <%= link_to owners_vehicle_path(vehicle), class: "text-decoration-none text-danger" do %>
                    View Details <i class="bi bi-arrow-up-right"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">No Vehicles Found.</h6>
        </div>
      </div>
    </div>
  <% end %>
</div>
