<div class="container">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-end">
      <%= link_to owners_dashboard_path, class: 'btn btn-secondary me-2' do %>
        <i class="bi bi-arrow-left"></i> Back
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="fw-bold mt-2 mb-3"><%= @vehicle.name %></h1>
    </div>
  </div>

  <% if @vehicle.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h4>
      <ul>
        <% @vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-4">
    <div class="col-lg-4">
      <% if @vehicle.cover_image.attached? %>
        <%= image_tag @vehicle.cover_image, class: "img-thumbnail", size: "300x300" %>
      <% else %>
        <%= image_tag 'sedan01.jpeg', class: "img-thumbnail", size: "300x300" %>
      <% end %>
    </div>
    <div class="col-lg-8">
      <p><strong>Registration Number:</strong> <%= @vehicle.registration_number %></p>
      <p><strong>Vehicle Type:</strong> <%= @vehicle.vehicle_type.name %></p>
      <p><strong>Base Price:</strong> $ <%= @vehicle.base_price %></p>
      <p><strong>Price per KM:</strong> $ <%= @vehicle.price_per_km %></p>
      <p><strong>Fuel Type:</strong> <%= @vehicle.fuel_type %></p>
      <p><strong>Description:</strong> <%= @vehicle.description %></p>
    </div>
  </div>

  <% if @vehicle.vehicle_images.attached? %>
    <div class="row mb-4">
      <div class="col-lg-12">
        <h3>Vehicle Images</h3>
        <% @vehicle.vehicle_images.each do |image| %>
          <%= image_tag image, class: "img-thumbnail me-2", size: "150x150" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row mb-4">
      <div class="col-lg-12">
        <p>No images attached.</p>
      </div>
    </div>
  <% end %>

  <% if @vehicle.documents.attached? %>
    <div class="row mb-4">
      <h3>Documents</h3>
      <div class="col-lg-12 d-flex">
        <% @vehicle.documents.each do |document| %>
          <div class="mb-3 mt-2 me-4">
            <div class="align-items-center">
              <%= link_to image_tag(document), rails_blob_path(document, disposition: 'attachment'), target: '_blank', class: 'document-img' %>
            </div>
            <div>
              <%= link_to document.filename, rails_blob_path(document, disposition: 'attachment'), class: 'btn btn-outline-secondary mt-3', target: '_blank' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="card shadow">
      <div class="card-body">
          <h4 class="text-warning">No documents attached. Please attach documents to verify your vehicle!</h4>
          <%= link_to 'Attach Documents', edit_owners_vehicle_path(@vehicle), class: 'btn btn-primary mt-3' %>
      </div>
    </div>
  <% end %>
</div>

<style>
  .document-img, .document-img img {
    width: 300px;
    height: 300px;
  }
</style>
