<%# <div class="row">
  <div class="col-md-4">
    <div class="card mb-4 text-center text-white bg-primary shadow">
      <div class="card-body">
        <div>
          <div class="fs-4 fw-semibold">
            <div>Vehicles Listed</div> %>
            <%#= @vehicles.count %>
          <%# </div>
        </div>
      </div>
    </div>
  </div>
</div> %>

<div class="row">
  <div class="col-md-12">
    <h2>Vehicles Listed by you</h2>
    <% if @vehicles.any? %>
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Registration Number</th>
                <th>Base Price</th>
                <th>Price per km</th>
                <th>Fuel Type</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @vehicles.each do |vehicle| %>
                <tr>
                  <td><%= vehicle.name %></td>
                  <td><%= vehicle.registration_number %></td>
                  <td><%= vehicle.base_price %></td>
                  <td><%= vehicle.price_per_km %></td>
                  <td><%= vehicle.fuel_type %></td>
                  <td>
                    <%= link_to edit_owners_vehicle_path(vehicle) do %>
                      <i class="bi bi-pencil-fill"></i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to owners_vehicle_path(vehicle), data: { turbo_method: :delete, turbo_confirm: "Are You Sure?" } do %>
                      <i class="bi bi-trash-fill"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% else %>
      <p>No vehicles listed.</p>
    <% end %>
  </div>
</div>
