<div class="row">
  <div class="col-md-12">
    <h2>Vehicles Listed by you</h2>
    <% if @vehicles.any? %>
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Registration Number</th>
                <th>Base Price</th>
                <th>Price per km</th>
                <th>Fuel Type</th>
                <th>Verify</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @vehicles.each do |vehicle| %>
                <tr>
                  <td><%= vehicle.name %></td>
                  <td><%= vehicle.registration_number %></td>
                  <td><%= vehicle.base_price %></td>
                  <td><%= vehicle.price_per_km %></td>
                  <td><%= vehicle.fuel_type %></td>
                  <td>
                    <% case vehicle.verification_status %>
                    <% when 'verified' %>
                      <span class="verified">✔️ Verified</span>
                    <% when 'unverified' %>
                      <span class="unverified">❌ Unverified</span>
                    <% else %>
                      <span class="pending">⏳ Pending</span>
                    <% end %>
                  </td>
                  <td>
                    <div class="btn-group" role="group">
                      <%= link_to edit_owners_vehicle_path(vehicle), class: "btn btn-outline-primary", title: "Edit" do %>
                        <i class="bi bi-pencil-fill"></i>
                      <% end %>
                      <%= link_to owners_vehicle_path(vehicle), method: :delete, class: "btn btn-outline-warning", title: "Delete", data: { turbo_confirm: "Are you sure?" } do %>
                        <i class="bi bi-eye"></i>
                      <% end %>
                      <%= link_to owners_vehicle_path(vehicle), method: :delete, class: "btn btn-outline-danger", title: "Delete", data: { turbo_confirm: "Are you sure?" } do %>
                        <i class="bi bi-trash-fill"></i>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% else %>
      <p>No vehicles listed.</p>
    <% end %>
  </div>
</div>
