<div class="related-vehicles mt-5">
  <h3 class="fw-bold">Related Vehicles</h3>
  <div class="row">
    <% related_vehicles.each do |vehicle| %>
      <div class="col-md-3">
        <div class="card mb-4">
          <%= link_to vehicle_path(vehicle), class: 'text-decoration-none' do %>
            <div class="position-relative">
              <% if vehicle.cover_image.attached? %>
                <%= image_tag vehicle.cover_image, class: "card-img-top related-vehicle-img" %>
              <% else %>
                <%= image_tag 'sedan01.jpeg', class: "card-img-top related-vehicle-img" %>
              <% end %>
              <div class="overlay">
                <span class="favorite-icon"><i class="bi bi-heart"></i></span>
              </div>
            </div>
            <div class="card-body">
              <h4 class="card-title text-dark"><%= vehicle.name %></h4>
              <div class="d-flex justify-content-between mt-5">
                <div class="d-block text-center fs-5 text-dark">
                  <i class="bi bi-fuel-pump"></i>
                  <div><%= vehicle.fuel_type %></div>
                </div>
                <div class="d-block text-center fs-5 text-dark">
                  <i class="bi bi-calendar"></i>
                  <div><%= vehicle.registration_number %></div>
                </div>
                <div class="d-block text-center fs-5 text-dark">
                  <i class="bi bi-car-front-fill"></i>
                  <div><%= vehicle.vehicle_type.try(:name) %></div>
                </div>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <div>
                  <span class="text-muted"><%= number_to_currency(vehicle.base_price) %></span>
                </div>
                <div>
                  <%= link_to vehicle_path(vehicle), class: "text-decoration-none text-danger" do %>
                    View Details <i class="bi bi-arrow-up-right"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
