<div class="my-5" data-controller="glightbox">
  <div class="row">
    <div class="col-lg-8">
      <% if @vehicle.cover_image.attached? %>
        <div class="cover-image-section mb-4">
          <%= image_tag @vehicle.cover_image, class: 'cover-img w-100 rounded-2' %>
        </div>
        <% else %>
          <%= image_tag 'https://as2.ftcdn.net/v2/jpg/00/58/87/17/1000_F_58871737_dryKwXlGDoaJRv8qlpEvvoSBXQ55yP9R.jpg', style: "width: 100%;", class: "rounded-2" %>
      <% end %>

      <div id="vehicleCarousel" class="carousel slide mt-5 mb-5" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @vehicle.vehicle_images.each_slice(3).with_index do |images, index| %>
            <div class="carousel-item <%= 'active' if index.zero? %>">
              <div class="row gallery">
                <% images.each do |image| %>
                  <div class="col">
                    <%= link_to image_tag(image, class: "d-block rounded-2 w-100 vehicle-gallery-images"), image, data: { lightbox: "vehicle-gallery" } %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#vehicleCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#vehicleCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="description mb-4">
        <h4 class="fw-bold">Description</h4>
        <p class="fs-5"><%= @vehicle.description.html_safe %></p>
      </div>

      <div class="p-3 rounded-3 mb-4">
        <h3 class="mb-3 fw-bold">Car Overview</h3>

        <div class="row">
          <div class="col"><p class="fs-5"><i class="bi bi-fuel-pump fs-3 me-2"></i><span class="me-2 fw-bold"></span><%= @vehicle.fuel_type %></p></div>
          <div class="col"><p class="fs-5"><i class="bi bi-calendar fs-3 me-2"></i><span class="me-2 fw-bold"></span><%= @vehicle.registration_number %></p></div>
          <div class="col"><p class="fs-5"><i class="bi bi-car-front-fill fs-3 me-2"></i><span class="me-2 fw-bold"></span><%= @vehicle.vehicle_type.try(:name) %></p></div>
        </div>
        <div class="row">
         <div class="col"><p class="fs-5"><i class="bi bi-currency-dollar fs-3 me-2"></i><span class="me-2 fw-bold"></span><%= number_to_currency(@vehicle.base_price, unit: "Rs. ") %></p></div>
         <div class="col"><p class="fs-5"><i class="bi bi-speedometer2 fs-3 me-2"></i><span class="me-2 fw-bold"></span><%= number_to_currency(@vehicle.price_per_km, unit: "Rs. ") %></p></div>
         <div class="col"><p class="fs-5"><i class="bi bi-speedometer2 fs-3 me-2"></i><span class="me-2 fw-bold"></span><%= number_to_currency(@vehicle.price_per_hour, unit: "Rs. ") %></p></div>
        </div> 
      </div>
    </div>

    <div class="col-lg-4">
      <%= render 'card_section' %>
    </div>
  </div>
 <!-- Related Vehicles Section -->  
</div>
<% if @related_vehicles.present? %>
  <%= render 'related_vehicle', related_vehicles: @related_vehicles %>
<% end %>
