<div class="sidebar sidebar-dark sidebar-fixed border-end" id="sidebar" data-controller="sidebar">
	<div class="sidebar-header border-bottom">
		<div class="sidebar-brand">
			<h3>Admin Theme</h3>
		</div>
		<button class="btn-close d-lg-none close-btn" type="button" data-coreui-dismiss="offcanvas" data-coreui-theme="dark" aria-label="Close"></button>
	</div>
	<ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
		<li class="nav-item">
			<%= link_to admin_dashboard_path, class: 'nav-link', target: '_top' do %>
			<svg class="nav-icon">
				<use xlink:href="<%= asset_path('coreui/sprites/free.svg') %>#cil-speedometer">
				</use>
			</svg> Dashboard
			<% end %>
		</li>
		<li class="nav-divider"></li>
		<hr>
		<li class="nav-item">
			<%= link_to admin_vehicles_path, class: 'nav-link', target: '_top' do %>
		 		Vehicles 
			<% end %>
		</li>
		<li class="nav-item">
			<%= link_to admin_owners_path, class: 'nav-link', target: '_top' do %>
		 		Owners 
			<% end %>
		</li>
		<li class="nav-item">
			<%= link_to admin_vehicle_types_path, class: 'nav-link', target: '_top' do %>
				Vehicle Types 
			<% end %>
		</li>
	</ul>
	<div class="sidebar-footer border-top d-none d-md-flex">
		<button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
	</div>
</div>
